.scroll-pane { /* scrollPane is a container that allows scrolling of its content */
  -fx-background-color: #fff;
  -fx-border-color: #E5E5E5;
  -fx-border-width: 0 1px 0 0;
  -fx-min-width: 565px;
  -fx-pannable: "true";
  -fx-vbar-policy: "ALWAYS";
  -fx-hbar-policy: "NEVER";
  -fx-fit-to-width: true;
  -fx-background-insets: 0;
}

.scroll-pane > .viewport {
  -fx-background-color: #fff;
}

.scroll-pane .profile-container {
  -fx-background-color: #fff;
  -fx-padding: 10;
  -fx-spacing: 4;
}

.scroll-pane .profile-card {
  -fx-background-color: #fff;
  -fx-background-radius: 16;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-padding: 14;
  -fx-alignment: center_left;
  -fx-spacing: 14;
}

.scroll-pane .profile-card:hover {
  -fx-background-color: #F6F5F4;
}

.scroll-pane .profile-card .profile-picture {
  -fx-fill: "DODGERBLUE";
  -fx-stroke-width: 0;
}

.scroll-pane .profile-card .profile-content {
  -fx-alignment: center-left;
}

.scroll-pane .profile-card .profile-content .profile-username {
  -fx-fill: #0a0a0a;
  -fx-font-smoothing-type: lcd;
  -fx-stroke-width: 0;
  -fx-text-alignment: left;
  -fx-font-family: "Segoe UI";
  -fx-font-size: 16;
}

.scroll-pane .profile-card .profile-content .spoiler-content {
  -fx-fill: #00000099;
  -fx-font-smoothing-type: lcd;
  -fx-stroke-width: 0;
  -fx-text-alignment: left;
  -fx-font-family: "Segoe UI";
  -fx-font-size: 13;
}

.scroll-pane > .scroll-bar:vertical { /* `track` is a background of `thumb` */
  -fx-background-color: #fff;
}

.scroll-pane > .scroll-bar:vertical > .thumb { /* `thumb` is a bar that moves up and down */
  -fx-effect: none;
  -fx-background-color: #CCCCCC;
  -fx-background-insets: 3.0, 0.0, 0.0;
  -fx-background-radius: 999px;
}

.scroll-pane > .scroll-bar:vertical > .thumb:hover {
  -fx-background-color: #5A5A5A;
}

.scroll-pane > .scroll-bar:vertical > .increment-button, /* `button` background */
.scroll-pane > .scroll-bar:vertical > .decrement-button {
  -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar > .decrement-button > .decrement-arrow { /* `decrement-arrow` is the icon inside the button background */
  -fx-effect: none;
  -fx-background-color: #CCCCCC;
  -fx-shape: "M 0 8 Q 4 4 8 8 L 4 0 Z";
  -fx-padding: .3em;
}

.scroll-pane > .scroll-bar > .increment-button > .increment-arrow { /* `increment-arrow` is the icon inside the button background */
  -fx-effect: none;
  -fx-background-color: #CCCCCC;
  -fx-shape: "M 0 0 Q 4 4 8 0 L 4 8 Z";
  -fx-padding: .3em;
}

.scroll-pane > .scroll-bar > .decrement-button > .decrement-arrow:hover,
.scroll-pane > .scroll-bar > .increment-button > .increment-arrow:hover {
  -fx-background-color: #5A5A5A;
}

#chatContainer > .scroll-pane {
  -fx-fit-to-width: true;
  -fx-hbar-policy: never;
  -fx-vbar-policy: always;
  -fx-background-color: transparent;
  -fx-border-width: 0;
  -fx-min-width: 0;
}

#chatContainer > .scroll-pane > .viewport,
#chatContainer > .scroll-pane > .scroll-bar:vertical {
  -fx-background-color: transparent;
}

#chatContainer > .friend-profile-header {
  -fx-background-color: fff;
  -fx-border-width: 0 0 1px 0;
  -fx-border-color: #E5E5E5;
  -fx-alignment: center_left;
  -fx-spacing: 12;
  -fx-padding: 12 0 12 12;
}

.text-field {
  -fx-background-radius: 300px 0 0 300px;
  -fx-background-color: #fff;
  -fx-padding: 18 18;
  -fx-text-fill: #000;
  -fx-border-color: transparent;
}

/* Estilos para o botão de envio */
.send-button {
  -fx-background-insets: 0;
  -fx-background-radius: 100%;
  -fx-background-color: #1DAA61;
  -fx-min-width: 38px;
  -fx-min-height: 38px;
  -fx-pref-width: 38px;
  -fx-pref-height: 38px;
}

.input-field-container {
  -fx-background-color: #fff;
  -fx-background-radius: 999px;
  -fx-padding: 0 10px 0 0;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 0);
}

.send-button:hover {
  -fx-background-insets: 0;
  -fx-background-color: #4ABB81;
}

.send-button .send-icon {
  -fx-fill: #fff;
}


#messagesContainer {
  -fx-background-color: transparent;
  -fx-padding: 18 62; /* ok */
  -fx-spacing: 12; /* ok */
}

.message-card-left-container {
  -fx-alignment: center_left;
}

.message-card-right-container {
  -fx-alignment: center_right;
  -fx-padding: 0 0 0 16; /* ok */
}


.message-card {
  -fx-background-radius: 12;
  -fx-padding: 8px 10px;
  -fx-max-width: 754px;
  -fx-wrap-text: true;
  /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 10, 0, 0)*/
  /* add only bottom border */
  -fx-border-width: 0 0 1px 0;
  -fx-border-color: rgba(0, 0, 0, 0.2);
  -fx-border-radius: 0 0 10 10;
}

.received-message {
  -fx-background-radius: 0 12 12;
  -fx-background-color: #fff;
}

.sent-message {
  -fx-background-radius: 12 0 12 12;
  -fx-background-color: #D9FDD3;
}

.message-card Text {
  -fx-font-family: "Segoe UI";
  -fx-font-size: 14px;
  -fx-fill: #0a0a0a;
  -fx-font-smoothing-type: lcd;
}